* {
	margin: 0;
	padding: 0;
}
    .flexbox1 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: black;
    max-width: 800px;
    }   
    .black {
    background-color: black;
    }
    .flexbox2 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: white;
    max-width: 800px;
    }
    body {
    font-family: 'Oswald', sans-serif;
    }
    .header {
    flex: 2.5;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    line-height: 50px;
    color: white;
    }   
    .webs {
    flex: 1;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: auto;
    text-align: left;
    line-height: 50px;
    color: white;
    }
    a {
    color: white;
    text-decoration: none;
    }
    .scale {
    transition: 0.5s;
    }
    .scale:hover {
    transform: scale(1.2);
    }   
    h1 {
        font-size: 21px;
    }
    img {
        max-width: 10%;
        max-height: 10%;
    }
    .bomb {
        font-weight: bold;
        font-size: 20px;
    }
    .work {
        flex: 1;
    }
    hr {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: black;
    }